body,html{
	/*width: 980px;*/
	margin: 0 auto;
}
.gq-logon{
	width: 100%;
	background-color: #fff;
	float: left;
	padding-top: 25px;
	padding-bottom: 20px;
}
#gq-content .gq-bg{
	background-color: #225a9a;
	color: #fff;
}
.gq-top{
	margin-top: 20px;
	margin-left: 45px;
}
.gq-top li{
	width: 163px;
	height: 38px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 3px;
	float: left;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
}
.gq-top .gq-had{
	float: right;
	margin-right: 37px;
	margin-top: 20px;
}
.gq-top .gq-had a{
	color: #1978cf;
}
.gq-mail-logon div,.gq-phone-logon div{
	margin-left: 26px;
	width: 928px;
	height: 55px;
	line-height: 55px;
	margin-bottom: 3px;
}

.gq-mail-logon input,.gq-phone-logon input{
	width: 287px;
	height: 28px;
	margin-bottom: 24px;
	outline: none;
}
.gq-mail-logon span,.gq-phone-logon span{	
	font-size: 12px;
	line-height: 22px;
	padding: 0 10px;		
}
.icon-gantan{
	display: inline-block;
	background-color: #ebf7fe;
	border:1px solid #d3edfb;
	display: none;
}
.gq-open{
	display: inline-block;
}
.icon-cuo{
	display: inline-block;
	background-color: #fff1f1;
	border:1px solid #ffbebd;
	display: none;
}
.icon-dui{
	display: none;
}
#gq-checkCode{
	outline: none;
	border: none;
	width: 63px;
	height: 32px;
	background-color: rgb(153,153,153);
	text-decoration: underline;
	color: #fff;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	letter-spacing: 3px;
}



.gq-logon div label{
	display: inline-block;
	width: 137px;
	text-align: right;
}
#gq-city select{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	overflow: visible;
	margin-bottom: 22px;
}
.gq-msg input{
	width: 12px;
	margin-right:5px;
}
.gq-msg p{
	margin: -40px 0 20px 155px;
	color: #989898;
}
.gq-code input{
	width: 112px;
}
.gq-phone-logon{
	display: none;
}
.gq-phone-logon button{
	margin-left: 165px;
	width: 150px;
	height: 26px;
}
.gq-car input,.gq-buyCar input{
	margin-bottom: 20px;
}
.gq-agree{
	margin-left: 137px;
	outline: none;
	width: 150px;
	height: 27px;
	color: #fff;
	margin-bottom: 34px;
	background-color: #2870b2;
}
.gq-xieyi{
	margin-left: 137px;
}

.gq-logonWin{
	width: 980px;
	height: 330px;
	background-color: #fff;
	display: none;
}
.gq-logonWin .icon-dui{
	text-align: center;
	margin-top: 12px;
	padding-top: 48px;
	display:block;
	font-size: 50px;	
}
.gq-logonWin .icon-dui span{
	display: inline-block;
	font-size: 24px;
	vertical-align: middle;
}
.gq-logonWin p{
	display: inline-block;
	width: 500px;	
	font-size: 16px;
	line-height: 24px;
	text-align: right;
}
.gq-logonWin a{
	padding-left: 44px;
	font-size: 16px;
}
.gq-logonWin button{
	display: inline-block;
	margin-top: 37px;
	margin-left: 435px;
	width:107px;
	height: 27px;
	background-color: #2870b2;
	color: #fff;
}

